<%= f.text_field :name, :class => 'xlarge' %>

<%= f.text_area :description, :class => 'xxlarge', :rows => 5 %>

<div class="actions">
  <%= link_to "Cancel", notes_path %> or
  <button class="btn primary" type="submit">Save</button>
</div>
