<% present @note do |note_presenter| -%>
  <div class="page-header">
    <h1>
      <%= @note.name %>
      <small>
        <%= note_presenter.display_created_at %>
      </small>
    </h1>
  </div>

  <p><%= @note.description %></p>
<% end -%>
